Using the data contained in the two data files from the previous exercise, find out how the severity of the accident is related to the age of the vehicle.

In [13]:
# import Pandas and Numpy packages

import pandas as pd
import numpy as np
import seaborn as sns

sns.set_theme(palette="Set2")

In [14]:
# load the data
df1 = pd.read_csv("accidents.csv")
df2 = pd.read_csv("vehicles.csv")

In [15]:
# check values in the Age_of_Vehicle of the vehicles dataframe
df2["Age_of_Vehicle"].unique()

array([-1, 12,  5,  1, 10,  7, 20,  6,  4, 16, 13,  8,  2,  3, 17, 11,  9,
       14, 18, 28, 23, 15, 21, 19, 24, 54, 22, 43, 25, 31, 30, 57, 41])

"-1" in the "Age_of_Vehicle" column suggests the age of the car is unknown. Let's replace it with the `np.nan` symbol. This will make it easier for us to drop all rows with missing values.

In [16]:
# replace "-1" with np.nan
df2.loc[:, "Age_of_Vehicle"] = df2["Age_of_Vehicle"].replace(-1, np.nan)

/tmp/ipython-input-750651645.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[nan nan nan ... nan  8.  2.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[:, "Age_of_Vehicle"] = df2["Age_of_Vehicle"].replace(-1, np.nan)

In [17]:
# drop rows with missing values
df2.dropna(inplace=True)

Choose appropriate options of `merge` to combine the accidents and the vehicle dataframes. Check that the merge was successful.

In [20]:
df = pd.merge(df1, df2, on="Accident_Index", how="left")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1688 entries, 0 to 1687
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Accident_Index      1688 non-null   object
 1   Accident_Severity   1688 non-null   int64
 2   Date                1688 non-null   object
 3   Weather_Conditions  1688 non-null   int64
 4   Age_of_Vehicle      1551 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 66.1+ KB

Determine the relationship between the severity of the accident and the age of the vehicle.

In [30]:
#measure correlation between accident severity and age of vehicle
df[["Accident_Severity", "Age_of_Vehicle"]].corr()

                   Accident_Severity  Age_of_Vehicle
Accident_Severity           1.000000       -0.025611
Age_of_Vehicle             -0.025611        1.000000

# Citing this notebook

If you use this notebook in your work, please cite it as follows:
    
Pekar, V. (2024). Machine Learning for Business Analytics. Lecture examples and exercises. (Version 1.0.0). URL: https://github.com/vpekar/bd4dm